<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="cells-authorization-item-styles.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="../cells-date-format/cells-date-format.html">
<link rel="import" href="../cells-molecule-mask/cells-molecule-mask.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">

<dom-module id="cells-authorization-item">

  
  <template>
    <style include="cells-authorization-item-styles">
    </style>
    <div class="item">
      <div class="item__info">
        <dom-if if="[[paymentDate]]">
          <template>
            <div class="item__payment_date">
              <div class="item_payment_date_title">
                <span>[[paymentDate.label]]</pre></span>
              </div>
              <div class="item__payment_date_value">
                <cells-date-format format="[[paymentDate.format]]" date="[[paymentDate.value]]" class="date"></cells-date-format>
              </div>
            </div>
          </template>
          
        </dom-if>
        
        <dom-if if="[[name]]">
          <template>
            <div>
              <div class="item_title">
                <cells-heading class="item__name" level="[[headingLevel]]">
                  <span class="item__label">[[name]]</span>
                </cells-heading>
              </div>
              <div class="item-space heading capitalize-uppercase">
                  <cells-molecule-mask class="custom" value="12345678910" mask-chars="&bull;" masked>
                      <p>Cuenta</p>
                  </cells-molecule-mask>
              </div>
            </div>
          </template> 
        </dom-if>

      </div>
      <div class="item_amount">
        <dom-if if="[[primaryAmount]]">
          <template>
            <div class="item_primary-amount">
                <cells-atom-amount amount="[[primaryAmount.value]]" currency-code="[[primaryAmount.currency]]"></cells-atom-amount>
                <span class="amount-label">[[primaryAmount.label]]</span>
            </div>
          </template>    
        </dom-if>
        <dom-if if="[[quantity]]">
            <template>
              <div class="item_quantity">
                  <cells-heading class="item_quantity" level="[[headingLevel]]">
                      <span class="item_quantity_value">[[quantity.value]]</span>
                    </cells-heading>
                  <span class="quantity-label">[[quantity.label]]</span>
              </div>
            </template>    
          </dom-if>
      </div>
    </div>
  </template>
  <script src="cells-authorization-item.js"></script>
</dom-module>
