<dom-module id="cells-authorization-item-styles"><template><style>
:host {
  display: flex;
  padding: 0.9375rem 1.25rem;
  color: var(--cells-product-item-color, #121212);
  background-color: var(--cells-product-item-background-color, #fff);
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-authorization-item; }

:host([hidden]), [hidden] {
  display: none !important; }

:host(:active) {
  background-color: var(--cells-product-item-active-background-color, #F4F4F4);
  @apply --cells-product-item-active; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top; }

.item__info {
  display: flex;
  flex: 1;
  min-width: 0; }

.item__name {
  display: flex;
  margin: 0;
  padding-right: 1.25rem;
  position: relative;
  line-height: 1.125;
  margin-bottom: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--cells-authorization-item-title-color, #2A86CA);
  @apply --cells-fontDefaultMedium;
  @apply --cells-authorization-item-item-name; }

.item_payment_date_title {
  font-size: var(--cells-date-format-title, 0.5625rem);
  padding-right: 0.5625rem;
  margin-left: 0.0625rem;
  margin-right: 0.5625rem;
  border-right: 1px solid var(--bbva-400, #BDBDBD);
  text-align: center; }

.date {
  padding-right: 0.5625rem;
  margin-left: 0.0625rem;
  margin-right: 0.5625rem;
  border-right: 1px solid var(--bbva-400, #BDBDBD);
  color: var(--cells-movements-list-item-date-font-color, var(--bbva-500, #666666)); }

.custom {
  align-items: flex-end;
  --cells-molecule-mask-icon-color: var(--bbva-dark-coral);
  --cells-molecule-mask-icon-button-outline: 0; }

.custom p {
  margin: 0;
  font-size: 0.875rem;
  @apply --secondary-heading; }

.item cells-molecule-mask {
  --cells-molecule-mask-number-font-size: 0.875rem;
  color: var(--cells-product-item-color, #121212);
  font-weight: 400;
  font-style: italic;
  @apply --cells-product-item-description-value; }

:host(.frozen) .item cells-molecule-mask,
:host(.blocked) .item cells-molecule-mask {
  color: var(--cells-product-item-disabled-text-color, #D3D3D3);
  @apply --cells-product-item-description-value-state; }

.item_amount {
  white-space: nowrap;
  width: 100%;
  position: relative;
  text-align: right;
  display: block;
  clear: both;
  @apply --cells-product-item-amount; }

.item .quantity-label, .amount-label {
  display: block;
  clear: both;
  font-size: 0.875rem;
  color: var(--cells-product-item-amount-label-color, #666);
  margin-bottom: 0.625rem;
  @apply --cells-product-item-amount-label; }

.item_quantity:after, item_primary-amount:after {
  clear: both;
  content: "";
  display: table; }

</style></template></dom-module>